body{
  background-color: rgb(116, 253, 62);
}

h1{
  color: blue;
  background-color: cornsilk;
}

#show_sketch{
  float: right;
}

canvas{
  border: 5px solid white;
  border-radius: 20px;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  margin-top: 80px;
}

@keyframes example {
from{ box-shadow:1px 1px 38px rgb(255, 255, 255);}
to{box-shadow: 1px 1px 38px white;}
}

p{
  padding-top: 10px;
  font-size: 25px;
}